<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<head>
	<meta charset="UTF-8">
	<title>FlipMarket - 비밀번호 찾기</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bg-gray-50 flex items-center justify-center min-h-screen px-4">

	<div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-lg">
		<h2 class="text-2xl font-bold mb-6 text-center text-blue-600">비밀번호 찾기</h2>

		<form>
			<div class="mb-4">
				<label for="id" class="block text-sm text-gray-700 mb-1">아이디</label>
				<input type="text" name="email" id="email"
					class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
					placeholder="이메일 입력" onkeydown="handleKeyDown(event);" required />
			</div>

			<div class="mb-6 text-sm text-center text-gray-600">
				비밀번호를 찾으려면 등록된 이메일을 입력해 주세요.
			</div>

			<button type="button" onclick="resetPassword(event);"
				class="w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 transition">비밀번호 재설정 링크
				받기</button>
		</form>

		<div class="mt-6 text-center text-sm text-gray-600">
			로그인 페이지로 돌아가려면 <a th:href="@{/login}" class="text-blue-600 hover:underline">로그인</a>을 클릭하세요.
		</div>
	</div>

</body>

</html>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		function handleKeyDown(event) {
			if (event.key === 'Enter') {
				event.preventDefault();
				resetPassword(event);
			}
		}

		function resetPassword(event) {
			event.preventDefault();

			const email = $("#email").val();
			const data = {
				email: email
			};

			if (email == "") {
				alert("이메일을 입력해주세요.");
				$("#email").focus();
				return false;
			}

			$.ajax({
				type: "POST",
				url: "/api/resetPassword",
				data: JSON.stringify(data),
				contentType: "application/json",

				success: function (result) {
					/*
					if (result.result == "0") {
						alert("이메일이 올바르지 않습니다.");
						return false;
					} else if (result.result == "1") {
						window.location.href = `/resetPassword?email=${email}`;
					} else {
						alert("Server Error");
					}
					*/
				},
				error: function (result) {
					alert("비밀번호 재설정 링크 오류\n code: " + request.status + "\n error: " + error);
				}
			});
		}
	</script>
</th:block>