<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>마이페이지</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<div>
		아이디 : <span id="id" th:text="${user.id}"></span><br>
		비밀번호 : <span id="pwd">********</span><br>
		이름 : <span id="name" th:text="${user.name}"></span><br>
		나이 : <span id="age" th:text="${user.age}"></span><br>
		연락처 : <span id="phoneNum" th:text="${user.phoneNum}"></span><br>
	</div>
	<a th:href="@{/mypage/reConfirmUserInfo(num=${user.num})}">회원정보 수정</a>
	<form method="get" th:action="@{/main}">
		<div><input type="submit" value="Main" /></div>
	</form>
</body>

</html>